@import 'scss/scrollbar.scss';
@import 'scss/toggleMenu.scss';
@import 'scss/loading.scss';

@import 'scss/home.scss';
@import 'scss/repoDetails.scss';

body {
 margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll !important;
}

header {
  h4 { 
    a { 
      color: #fff;
      text-decoration: none;
    }
  }
}

main {
  margin-left: 5em;
  @media screen and (max-width: 1200px) { 
    margin-left: 0;
  }
}

h2 {
  color: #fff;
  text-align: center;
  margin-top: 0.2em;
  font-size: 1.2em;
}

h4 {
  color: #fff;
  text-align: center;
  margin-bottom: 0.2em;
}

p {
  font-size: 14px;
}

ul {
  text-align: left;
  list-style-type: none;
  padding: 0;
  a {
    text-decoration: none;

    li {
      color: #fff;
    }
  }
}


