.repoDetails {
    overflow: hidden;
    .content {
      padding: 20px;
      overflow-x: auto;
      @media screen and (max-width: 768px) { 
        margin-top: 4em;
      }
  
      h2 {
        color: #172B4D;
        text-align: left;
      }
  
      table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 70%;
        font-size: 14px;
        @media screen and (max-width: 1200px) { 
          width: 60%;
        }
        @media screen and (max-width: 768px) { 
          width: 100%;
          margin-top: 5em;
          margin-left: 0;
        }
  
        tr {
          white-space: pre;
          @media screen and (max-width: 1200px) { 
            white-space: normal;
          }
          &:hover { 
            background-color: #cccccc;
          }
          th {
            border-bottom: 1px solid grey;
            text-align: left;
            padding: 8px;
          }
  
          td {
            padding: 8px;
          }
        }
      }
  
      .load-more {
        button {
          margin: 40px 0;
          display: block;
          width: 250px;
          box-shadow: none;
          border: none;
          background-color: #172B4D;
          color: #fff;
          font-size: 13px;
          text-transform: uppercase;
          padding: 10px;
          cursor: pointer;
        }
      }
    }
  }