.bm {
    &-burger-button {
        position: fixed;
        width: 36px;
        height: 30px;
        left: 36px;
        top: 36px;

        @media screen and (max-width: 768px) {
            left: 26px;
        }
    }

    &-burger-bars {
        background: #0747a6;
    }

    &-cross {
        background: #ffffff;

        &-button {
            height: 24px;
            width: 24px;
            bottom: 18px;
            right: 18px;
            display: none;
            @media screen and (max-width: 768px) { 
                display: block;
            }
        }
    }

    &-menu {
        background: #0747a6;
        padding: 0;
        font-size: 1.15em;
    }

    &-morph-shape {
        fill: #0747a6;
    }

    &-item { 
        display: inline-block;
        &-list {
            color: #b8b7ad;
            padding: 0 0.8em;
        }
    }
}